{% extends 'base.html' %}{% load static %}{% block content %}
<div class="shadow-1-strong bg-white my-5 p-5" id="about">
  <div class="about-section">
    <div class="row">
      <div class="col-md-6">
        <h2 class="h2 fw-light mb-4">About Me</h2>
        <p>
          Hello! I’m Zahra Taghipour. I’m a student. I study computer
          engineering at university. my favorite programming language
          is python and recently i started a new course to learn
          django framework which is a very popular python framework
          for web developing.
        </p>
        <p>
          This site is kind of my first real experience of web
          developing with django. i hope you like it!
        </p>
      </div>
      <div class="col-md-5 offset-lg-1">
        <div class="row mt-2">
          <h2 class="h2 fw-light mb-4">Bio</h2>
          <div class="col-sm-5">
            <div class="pb-2 fw-bolder">
              <i
                class="far fa-calendar-alt pe-2 text-muted"
                style="width: 24px; opacity: 0.85"
              ></i>
              Age
            </div>
          </div>
          <div class="col-sm-7">
            <div class="pb-2">20</div>
          </div>
          <div class="col-sm-5">
            <div class="pb-2 fw-bolder">
              <i
                class="far fa-envelope pe-2 text-muted"
                style="width: 24px; opacity: 0.85"
              ></i>
              Email
            </div>
          </div>
          <div class="col-sm-7">
            <div class="pb-2">zahraeset@gmail.com</div>
          </div>
          <div class="col-sm-5">
            <div class="pb-2 fw-bolder">
              <i
                class="fas fa-phone pe-2 text-muted"
                style="width: 24px; opacity: 0.85"
              ></i>
              Phone
            </div>
          </div>
          <div class="col-sm-7">
            <div class="pb-2">09302793103</div>
          </div>
          <div class="col-sm-5">
            <div class="pb-2 fw-bolder">
              <i
                class="fas fa-map-marker-alt pe-2 text-muted"
                style="width: 24px; opacity: 0.85"
              ></i>
              Address
            </div>
          </div>
          <div class="col-sm-7">
            <div class="pb-2">
              Shooshtar, Khoozestan province, Iran
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}